* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 0.25rem;
    transition: all 0.55s;
}

:root {
    --color0: #FFF;
    --color1: #eef;
    --color2: #000;
    --color3: #0003;
    --color4: #eee;
}

html {
    font-family: 'Roboto',sans-serif;
    scroll-behavior: smooth;
}
body {
    background-color: var(--color0);
    color: var(--color2);
}

header {
    padding: 1.25rem 0;
}
header .logo {
    margin-bottom: 1.05rem;
}
header .logo a {
    /* LOGO */
    text-decoration: none;
    font-size: 200%;
    letter-spacing: 0.25rem;
    font-weight: bold;
    color: var(--color2);
    /* text-shadow: 0.1rem 0.1rem #0DE, 0.15rem 0.15rem black; */
}
header li {
    display: inline-flex;
}
.links li {
    list-style: none;
    margin: 0.75rem 1rem;
}
.btn.links a {
    color: var(--color0);
    background-color: var(--color2);
    margin: 0.1rem;
    padding: 0.2rem;
    text-decoration: none;
    box-shadow: 3px 3px 0 var(--color3), 0 0 0.1rem 0 var(--color3);
}
.btn.links a:hover {
    text-decoration: underline;
}
.links a:active {
    scale: 0.9;
}
.fa.links li {
    margin: 0.2rem 1.57rem;
}
.fa.links a:hover {
    scale: 1.15;
}
.fa-icons {
    width: 2rem;
}

#figures figure {
    width: 340px;
    margin: 1rem 0;
    text-align: center;
}
figure figcaption {
    text-decoration: underline;
    opacity: 0.7;
    word-wrap: break-word;
}
.figures {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
figure .image {
    border-radius: 1rem;
    border: 0.5rem dashed var(--color0);
    background-color: var(--color1);
    overflow: hidden;
}
.image img {
    width: 100%;
    height: auto;
    object-position: center;
    opacity: 0.9;
    display: block;
}
h1, h2, h3 {
    margin-bottom: 0.5rem;
}
ul, ol {
    list-style-position: inside;
}

.highlight {
    /* span highlight */
    font-weight: bold;
}
.sqr-list {
    list-style-type:square;
}
#view {
    /* Main container */
    margin: 0 auto;
    padding: 0 1.5rem;
    /* background-color: var(--color1); */
    box-shadow: 0 0 1rem var(--color3);
    position: relative;
}
#view::before {
    content: "";
    position: absolute;
    width: 1px;
    /* width: 10rem; */
    height: 50dvh;
    top: 0;
    left: 0;
    background-color: #ee1;
    background: linear-gradient(190deg, #0000, #0de, #0000);
}
#view::after {
    content: "";
    position: absolute;
    width: 1px;
    /* width: 10rem; */
    height: 100dvh;
    top: 0;
    right: 0;
    background-color: #ee1;
    background: linear-gradient(190deg, #0de, #0000, #0de);
}
@media screen and (min-width: 1200px) {
    #view {
        width: 1200px;
    }     
}
section {
    margin: 1rem 0;
    position: relative;
}
article {
    margin: 1rem 0;
    padding: 0.25rem 0;
}
article li {
    padding: 0 0.2rem;
    border-bottom: 1px solid var(--color3);
    border-radius: 0;
}
.outro {
    padding: 2rem 0;
}
.container {
    display: grid;
    /* MediaQ resize fr */
    grid-template-columns: 1fr 3fr;
}
@media screen and (max-width: 860px) {
    .container {
        grid-template-columns: 2fr 2fr;
    }     
}
@media screen and (max-width: 650px) {
    .container {
        grid-template-columns: 3fr 1fr;
    }     
}
@media screen and (max-width: 440px) {
    .container {
        grid-template-columns: 1fr ;
    }     
}
form {
    padding: 0.75rem 0;
}
input, textarea {
    display: block;
    border: none;
    margin: 0.25rem 0;
    padding: 0.25rem;
    background-color: var(--color0);
}
input[name], textarea {
    border-left: 2px solid var(--color3);
    border-bottom: 2px solid var(--color3);
    width: 100%;
    min-width: 200px;
}
input[type=submit] {
    width: max-content;
    margin: auto;
    border: 2px solid var(--color3);
}

/* Show / Hide articles logic */
#reveal {
    color: blue;
    cursor: pointer;
    display: block;
    text-decoration: underline;
    margin: 0.75rem 0;
}
#reveal-more {
    opacity: 0.04;
    position: absolute;
}
#reveal-more:checked ~ .hidden-articles {
    /* display: block; */
    display: unset;
}
.hidden-articles {
    display: none;
}

/* Timeline */
#timeline {
    font-family: 'Shadows Into Light', cursive, serif;
    height: 3.9rem;
    overflow: auto hidden;
    background-color: var(--color0);
    box-shadow: 0 0 0.5rem var(--color3), inset 0rem 0rem 2rem var(--color3);
    position: relative;
}
#timeline::before {
    content: "";
    position: absolute;
    bottom: 0.75rem;
    left: 0.75rem;
    width: 1rem;
    height: 1rem;
    border-radius: 50% /25% 0;
    background-color: #0000;
    animation: pulsate 1.5s linear 0.5s infinite;
}
#timeline::after {
    content: "🖱️";
    position: absolute;
    bottom: 0rem;
    right: 1.5rem;
    font-size: 120%;
    opacity: 0.7;
}
@keyframes pulsate {
    50% {
        box-shadow: inset 0 0 0 0.5rem #0004;
    }    
}

#timeline:hover {
    height: max-content;
}
.years {
    border-top: 0.25rem solid var(--color3);
    margin: 0.65rem 0.15rem;
    padding: 0.85rem;
    min-width: 110%;
    width: max-content;
    border-radius: 0;
    
    display: flex;
    justify-content: space-between;
}
.years .event {
    position: relative;
    margin: 0.5rem 0.25rem 0;
    text-align: center;
}
.years .event .info {
    padding: 0 0.45rem;
    background-color: var(--color1);
    box-shadow: 0 0 4px var(--color3), inset 0rem 0rem 0.5rem var(--color3);
}
.years .event::before {
    content: "";
    position: absolute;
    top: calc(0px - 0.75rem);
    left: calc(50% - 1rem);
    width: 0px;
    height: 0px;
    border: 1rem solid transparent;
    border-top: 1rem solid var(--color3);
}
.years .event::after {
    content: "";
    position: absolute;
    top: calc(0px - 1.8rem);
    left: calc(50% - 0.175rem);
    width: 0.35rem;
    height: 1rem;
    background-color: var(--color3);
}
@media only print {
/* @media screen { */
    /* .no-print, .no-print * { */
    .no-print {
        display: none !important;
    }
    .hidden-articles {
        display: block !important;
    }
}


body {
  background:linear-gradient(to right top, #0de 50%, var(--color0) 50%) no-repeat;
  background-size:100% calc(100% - 100vh + 6px);
}
body::before {
  content:"";
  position:fixed;
  left:0px;
  top:6px;
  bottom:0;
  width:100%;
  background: var(--color0);
  z-index:-1;
}